<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<% include head.ejs %>

<body id="body" style="background-image: url(img/banner1.jpeg);">
  <% include nav_bar.ejs %>
    <!-- Contact Form -->
    <div class="item active" >
      <div class="container">
        <div class="col-sm-6 col-sm-offset-3 c-form-box wow fadeInUp">
          <div class="c-form-top">
            <div class="c-form-top-left">
              
            </div>
          </div>
          <div >
            <h3 data-wow-duration="1000ms"> <span class="color"> <b>Event Members Table</b> </span> </h3>
              <p>________________________________________</p>
              <p>                                       .</p>
            </div>
           <script type="text/javascript">
             var opts = {
                 url: 'http://localhost:3000/rows/'
             };

             fetch(opts)
                 .then((res) => {
                     if (res.ok) {
                         return res.json();
                     }
                  })
                  .then((rows) => {
                      for (let row of rows) {
                          // row will be a mysql row -- you can loop over these and do what you want with them
                      }
                   })
                   .catch(console.log);
        </script>
        </div>
      </div>
    </div>
  </div>
  <!-- Javascript -->
  <script src="public/js/jquery-1.11.1.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
      <script src="public/js/jquery.backstretch.min.js"></script>
        <script src="public/js/wow.min.js"></script>
          <%# <script src="public/js/scripts.js"></script>%>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
</body>
</html>
