<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<% include ../head.ejs %>

<style>
span.contact-error{
  color: red;
  font-weight: bold;
}
</style>

<body id="body">
  <% include ../nav_bar.ejs %>
  <!-- Contact Form -->
  <div class="item active" style="background-image: url(images/banner1.jpeg);">
    <div class="container" ng-app>

      <div class="col-sm-6 col-sm-offset-3 c-form-box wow fadeInUp">

        <div class="c-form-top contact-form">
          <div class="c-form-top-left">
            <h3 data-wow-duration="1000ms" ><span class="color"><b>Add New Member</b></span> </h3>
            <p>________________________________________</p>

          </div>
        </div>
        <div class="c-form-bottom">
          <form id="contact-form" role="form"  method="post" action="/member/data" name="memberForm" >
            <div class="form-group">
              <label for="c-form-name">
                <span class="label-text" style="color:white">Name:</span>
              </label>
              <input type="text" name="member_name" placeholder="Member's name..." ng-model="member_name" class="c-form-subject form-control" required>
              <span class="contact-error" ng-show="memberForm.member_name.$invalid && memberForm.member_name.$touched">You do have a name?</span>
            </div>
            <div class="form-group">
              <label for="c-form-joiningDate">
                <span class="label-text" style="color:white">Joining Date:</span>
              </label>
              <input type="date" name="joiningDate" placeholder="Member's date of joining..." class="c-form-email form-control" required ng-model="joiningDate">
              <span class="contact-error" ng-show="memberForm.joiningDate.$invalid && memberForm.joiningDate.$touched">It should be a date....</span>
            </div>
            <div class="form-group">
              <label for="c-form-dname">
                <span class="label-text" style="color:white">Department Name:</span>
              </label>
              <input type="integer" name="dname" placeholder="Member's department name..." class="c-form-subject form-control" required ng-model="departmentName">
              <span class="contact-error" ng-show="memberForm.dname.$invalid && memberForm.dname.$touched">No department decided...</span>
            </div>
            <div class="form-group">
              <label for="c-form-PhoneNo">
                <span class="label-text" style="color:white">Phone Number:</span>
              </label>
              <input type="longinteger" name="PhoneNo" placeholder="Member's Phone number..." class="c-form-subject form-control" required ng-model="phoneNumber">
              <span class="contact-error" ng-show="memberForm.PhoneNo.$invalid && memberForm.PhoneNo.$touched">No Contact?</span>
            </div>
            <div class="form-group">
              <label for="c-form-EmailId">
                <span class="label-text" style="color:white">EmailID:</span>
              </label>
              <input type="text" name="EmailId" placeholder="Members Email address..." class="c-form-subject form-control"  required ng-model="emailID">
              <span class="contact-error" ng-show="memberForm.EmailId.$invalid && memberForm.EmailId.$touched">No Contact?</span>
            </div>
            <div class="form-group">
              <label for="c-form-dob">
                <span class="label-text" style="color:white">Date Of Birth:</span>
              </label>
              <input type="date" name="dob" placeholder="Member's Date of Birth..." class="c-form-subject form-control" required ng-model="dateOfBirth">
              <%# <datepicker date-format="yyyy-MM-dd">
              <input ng-model="dateOfBirth" type="text" name="dob" required class="c-form-subject form-control" >
            </datepicker>%>
            <%# <input type="text" date-time ng-model="dates.today" view="date" miv-view="date" format="yyyy-MM-dd">%>
          <span class="contact-error" ng-show="memberForm.dob.$invalid && memberForm.dob.$touched">Birth date please...</span>
        </div>
        <div class="form-group">
          <label for="c-form-fatherName">
            <span class="label-text" style="color:white">Father's Name:</span>
          </label>
          <input type="text" name="fatherName" placeholder="member's father's Name..." class="c-form-subject form-control" required ng-model="fatherName">
          <span class="contact-error" ng-show="memberForm.fatherName.$invalid && memberForm.fatherName.$touched">Father's name please....</span>
        </div>

        <div class="form-group">
          <label for="c-form-corrAddr">
            <span class="label-text" style="color:white">Corresponding Address:</span>
          </label>
          <input type="text" name="corrAddr" placeholder="member's corresponding Address..." class="c-form-subject form-control" required ng-model="correspondingAddress">
          <span class="contact-error" ng-show="memberForm.corrAddr.$invalid && memberForm.corrAddr.$touched">an address..</span>
        </div>

        <div class="form-group">
          <label for="c-form-permAddr">
            <span class="label-text" style="color:white">Permanent Address:</span>
          </label>
          <input type="text" name="permAddr" placeholder="member's Permanent Address..." class="c-form-subject form-control" required ng-model="permanentAddress">
          <span class="contact-error" ng-show="memberForm.permAddr.$invalid && memberForm.permAddr.$touched">an address..</span>
        </div>

        <div class="form-group">
          <label for="c-form-gender">
            <span class="label-text" style="color:white">Gender:</span>
          </label>
          <div>
            <label>Male</label>
            <input type="radio" value="Male" name="gender" />
            <label>Female</label>
            <input type="radio" value="Female" name="gender" />
          </div>
          <span class="contact-error" ng-show="memberForm.gender.$invalid && memberForm.gender.$touched">Male/Female</span>
        </div>

        <div class="form-group">
          <label for="c-form-collegeName">
            <span class="label-text" style="color:white">College:</span>
          </label>
          <input type="text" name="collegeName" placeholder="member's College Name..." class="c-form-subject form-control" required ng-model="collegeName">
          <span class="contact-error" ng-show="memberForm.gender.$invalid && memberForm.gender.$touched">Any institution you work in...</span>
        </div>

        <button type="submit" class="btn btn-primary btn-md" style="color:white" ng-show="memberForm.$valid">SUBMIT</button>
      </form>
    </div>


  </div>

</div>
</div>


<!-- Javascript -->
<script src="javascripts/jquery-1.11.1.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<%# <script src="javascripts/jquery.backstretch.min.js"></script>%>
<script src="javascripts/wow.min.js"></script>
<%# <script src="javascripts/angular_datepicker.min.js"></script>%>
<script src=/javascripts/bundle.js></script>
<%# <script src="public/js/scripts.js"></script>%>

<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->

<script>
  // var demoApp = angular.module('myApp', ['datePicker']);
  // demoApp.controller('DemoController', function($scope) {
  //   console.log("Divyaksh was in demoApp controller");
  // });
</script>

</body>
</html>
